---
layout: default
---

<div class="home">

  <h1 class="page-heading">Hello my friend</h1>

<div class="content">
  Few Quotes that I try to live by:<br />
  You get back from something whatever YOU have put into it.<br />
  Whatever we put out in the Universe is what comes back to us.<br />
  Karma goes both ways.<br />
  “No one has ever become poor by giving.”<br />
― Anne Frank, diary of Anne Frank

</div>
<br /><br /><br />
  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
<br /><br />
{% highlight text %}
Kangri Madhra is a famous pahari/Kangri dish, which is having dry fruits along with gravy of curd/yogurt.
There are many variations of it and these are all very tasty. :P
{% endhighlight %}
<br  />

</div>
